{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div style="text-align: center; font-family: 'NEXON Lv1 Gothic OTF';">
            <h3>
                비밀번호 설정 링크가 당신의 메일로 전송이 되었어요!
            </h3>
            <br>
            <p>
                이메일을 받지 못하셨다면, 메일을 정확히 입력하셨는지 확인해주시고, 아니라면 스팸메일함을 확인해주세요.
            </p>
        </div>
    {% endblock %}
</body>
</html>