{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cubelink</title>
</head>
<body>
    {% block content %}
        {% if validlink %}    
            <form method="POST" style="font-family: 'NEXON Lv1 Gothic OTF'; max-width: 700px; margin: 4rem auto;">
                <center><h3>새로운 비밀번호를 입력하세요!</h3></center>
                {% csrf_token %}
                {{ form.as_p }}
                <center>
                    <input type="submit" class="btn btn-outline-dark rounded-pill col-3 mt-2" value="비밀번호 변경">
                </center>
            </form>
        {% else %}
        <div style="text-align: center; font-family: 'NEXON Lv1 Gothic OTF';"><h2>이 링크는 더이상 유효하지 않아요!</h2></div>
        {% endif %}
    {% endblock %}
</body>
</html>