{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div style="text-align: center; font-family: 'NEXON Lv1 Gothic OTF';">
            <h3>
                비밀번호를 성공적으로 변경했어요!
            </h3>
            <br>
            <p>
                다시
                <a href="/accounts/login/?next=/password_reset/confirm/MjU/set-password/"> 
                로그인
                </a>
                해보세요!
            </p>
        </div>
    {% endblock %}
</body>
</html>
