{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    <div style="text-align: center; font-family: 'NEXON Lv1 Gothic OTF';">
        <h1>비밀번호를 잊으셨나요?</h1>
        <p>당신의 메일로 비밀번호 재설정 링크를 보내 드릴께요!</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" 
            class="btn btn-outline-dark rounded-pill col-3 mt-2"
            value="이메일 보내기">
        </form>
    </div>
    {% endblock %}
</body>
</html>