{% extends 'base.html' %}
{% load bootstrap4 %}
<style>
.img{

}
</style>

{% block content %}
<div class='container-fluid mx-auto mt-9 mb-9 col-12' style="text-align: center">
    <div class="hd"> 공지사항 </div>
    <p><small class="text-muted">[자세한 공지사항을 올려드립니다]</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-9 col-12">
            <div class="card-content">
                <div class="card-body">
                    <img class="img" src="http://www.cubelink.ga/media/project/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD.PNG" style=" width: 250px; margin: 0 auto; border-radius: 2rem;"/>
                    <div class="shadow"></div>
                    <br>
                    <br>

                    <div class="card-title">CubeLink | 업데이트 추가 예정 </div>
                    <br>
                    <div class="card-subtitle">
                        <p></ㅔ><sapn> <small class="text-muted"> 1.1Ver 프로젝트 삭제 업데이트 수정완료 &#10003; </small> </sapn></p>
                        <p><sapn> <small class="text-muted"> 1.2Ver 댓글 추가 업데이트 수정완료 &#10003; </small> </sapn></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}