{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">


            {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt=""
                 style="position: relative; box-shadow: #f94e62 0px 0px 2rem ;height: 12rem; width: 12rem; border-radius: 6rem; margin-bottom: 2rem; object-fit: cover;">

            <h1 style="font-size: 2.9rem; margin: 1rem 0; vertical-align: middle;">
                {{ target_user.profile.nickname }}
                {% if target_user == user %}
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #6c6061; border-radius: 10rem; padding: .4rem"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    settings
                </a>
                {% endif %}
            </h1>
            <h5 style="color:#cbb3b7 ;margin-bottom: 3rem;  font-size: var(--g-text-font-size-3); ">
                {{ target_user.profile.message }}
            </h5>

            {% else %}
            {% if target_user == user %}
            <div>
                <p>Click! 프로필을 바꿔주세요!</p>
            </div>


            <a class="material-icons"
               style="box-shadow: 0 0 4px #6c6061; border-radius: 10rem; padding: .4rem"
               href="{% url 'profileapp:create' %}">
                <div class="material-icons">
                east
            </div>
                perm_identity
            </a>
            {% else %}
            <h2>닉네임 미설정</h2>
            {% endif %}
            {% endif %}


            {% if target_user == user %}

            <a class="material-icons"
               style="box-shadow: 0 0 4px #6c6061; border-radius: 10rem; padding: .4rem"
               href="{% url 'accountapp:update' pk=user.pk %}">
                lock
            </a>
            <a class="material-icons"
               style="box-shadow: 0 0 4px #e0001a; border-radius: 10rem; padding: .4rem"
               href="{% url 'accountapp:delete' pk=user.pk %}">
                warning
            </a>
            {% endif %}
        </div>


        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>
    </div>


{% endblock %}