<div style="border: 1px solid; text-align: left; padding: 4%; margin: 1rem 0; border-radius: 1rem; border-color:#bbb; ">
    <div>
        <Strong>
            {{ comment.writer.profile.nickname }}
        </Strong>
        &nbsp&nbsp&nbsp
        <h7 style="float:right">
        {{ comment.created_at }}
        </h7>
    </div>
    <div style="margin: 1rem 0">
        {{ comment.content }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align: right">
        <a href="{% url 'commentapp:delete' pk=comment.pk %}"\\
        class="btn btn-danger rounded-pill">
            삭제
        </a>
    </div>
    {% endif %}
</div>