
    <div  style="position: relative;font-size: 8.5px;">
<!--        <div style="height: 3rem ;">-->
<!--            <i style="vertical-align: middle; font-size: 1.2rem; color: #f77" class="material-icons">-->
<!--                favorite-->
<!--            </i>-->
<!--            <span style="vertical-align: bottom; font-size: 1.2rem;">-->
<!--                {{ target_article.like }}-->
<!--            </span>-->
<!--        </div>-->
        <p class="shadow" style="border-radius: 0.8rem; text-align:center; width: 450px; bottom: 140px; font-size: 1.8em; font-weight: bold; ">

          <img src="{{ article.image.url }}" alt="" value=" ">

                {{ article.title | truncatechars:8 }}
        </p>
    </div>