{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .container {
        padding: 0;
        margin: 0, auto;
    }
    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img{
      width:7rem;
      height:7rem;
      object-fit: cover;
      border-radius: 1rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

    {% if project_list %}
    <div class="container">
      {% for project in project_list %}
      <a href="{% url 'projectapp:detail' pk=project.pk %}">
        {% include 'snippets/card_project.html' with project=project %}
      </a>
      {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
      <h1>No project yet</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center;">
      <a href="{% url 'projectapp:create' %}" class="btn btn-outline-dark rounded-pill mt-3 mb-3 px-3">
        새로운 프로젝트 개설
      </a>
    </div>

{% endblock %}