.pragmatic_logo{

    font-family: 'Orbitron', sans-serif;
}
.pragmatic_footer_button{
    font-size: .9rem
}
.pragmatic_footer{
    text-align:center;
    margin-top: 2rem
}
.pragmatic_header{
    text-align:center;
    margin: 2rem 0;

}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;

    }
}

a {
    color: black;

}
a:hover{
    text-decoration: underline;
    color: lightgray;
    text-decoration: none;
}

.pragmatic_header_nav{
    margin: 1rem 0.5rem;
}
.pragmatic_header_navbar{
    margin: 1rem 0;
}

.ad_banner{
    width:320px;
    margin: 0 auto;
}


.item1{

}




head,
body {
    background-color: white
}

.card {
    cursor: pointer
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}