.pragmatic_logo{
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}
.pragmatic_footer_button{
    font-size: .9rem
}
.pragmatic_footer{
    text-align:center;
    margin-top: 2rem
}
.pragmatic_header{
    position: relative;
    margin: 1rem 0;
    padding: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li.icon {
  flex-basis: 25%;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
@media screen and (max-width:500px) {
    html {
        font-size: 13px;

    }
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: lightgray;
    text-decoration: none;
}

.pragmatic_header_nav{
    margin: 1rem 0.5rem;
    font-family: 'Lexend Mega', sans-serif;
}
.pragmatic_header_navbar{
    margin: 1rem 0;
}
.container .item1{ height:300px; }

.ad_banner{
    width:320px;
    margin: 0 auto;
}

.addthis_inline_share_toolbox{
    text-align: right;
}
.addthis_inline_share_toolbox_b2qf{
    text-align: center;
}


head,
body {
    background-color: white
}

.card {
    cursor: pointer
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}