<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

<!--폰트를 여기다 넣어두 좋다 바디에 -->
<body>
    {% include 'header.html' %}
    <hr>
    <!-- 좋아요를 누르면 나오는 알람   -->
    {% for message in messages %}
    <div class="text-center">
        <div class="btn btn-{{ message.tags }} rounded-pill px-5 my-3">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

    <hr>
    {% include 'sidebanner.html' %}

    {% include 'footer.html' %}


</body>
</html>