{% load static %}

    <div class="pragmatic_footer">
        <div>
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-qSdEgfwREVs8T4n1"
         data-ad-width   = "320"
         data-ad-height  = "100">

        </ins>
        </div>
        <br>
        <div class="pragmatic_footer_button" style="font-family: 'NeoDunggeunmo';">
            <a href="{% url 'announce' %}">공지사항</a>  |
            <a href="{% url 'info' %}">서비스 소개</a>
        </div>
        <br>
        <div style="margin-top: 1rem; ">
            <h6 class="pragmatic_logo">CubeL:nk</h6>
        </div>


    </div>