{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd"> 큐브링크 서비스에 오신걸 환영합니다 </div>
    <p><small class="text-muted">큐브링크 블로그는 자기의 사진으로 글을 기록하고 <br /> 동일한 관심사를 가진 분들과 소통할 수 있는 서비스입니다.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                    <div class="shadow"></div>
                    <div class="card-title">무료 서비스 | We're Free </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> 모든 서비스는 무료입니다 계속 업데이트 할 예정에 있고 약간의 광고들이 들어가 있습니다. </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                    <div class="card-title"> 서비스 소개 | Our Target </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> 누구든지 가입을 할 수 있습니다. We do accept ads from anyone.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                    <div class="card-title"> 큐브 링크 | Cube Link</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> 개발자: 홍평강, 이영진 <br />디자인: 홍평강, 이영진 <br /> | 후원 및 서포트 | <br /> KB국민: 069102 04 196438 <br /> Email: cubelink.dev@gmail.com</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft">
        <p class="chk"><small class="text-muted">Thank You!</small></p>
<!--        <div class="btn btn-primary">Read All Testimonials</div>-->
    </div>
</div>

{% endblock %}