{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>

.container {
    padding: 0;
    margin: 0, auto;

}
.container a {
    width: 45%;
    max-width: 250px

}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.container img{
  width:100%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_text_only::-webkit-scrollbar {
  display: none;
}

.img_text_only {
    text-align: center;
    text-align: center;
    width: 95%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -65%);

    max-height: 90px;
    overflow: scroll;

    color: black;
    font-family: 'Do Hyeon';


    position: absolute;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


</style>


    <br>
    {% if article_list %}
    <div class="container">
      {% for article in article_list %}

      <a class="effect effect-4" href="{% url 'articleapp:detail' pk=article.pk %}"
         title="Learn More" >

        {% include 'snippets/card.html' with article=article value="Learn More"%}
          <p class="img_text_only">{{ article_list.title }}</p>
      </a>
      {% endfor %}
        <div class="article_banner">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-7KAPNpdeFRehw0Df"
             data-ad-width   = "250"
             data-ad-height  = "250">
            </ins>
        </div>
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}

    <div class="text-center">
      <h1>아티클이 없습니다 추가해주세요!</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center; font-family: 'GmarketSansMedium';">
      <a href="{% url 'articleapp:create' %}" class="btn btn-outline-dark rounded-pill mt-3 mb-3 px-3">
        글 작성하기
      </a>
    </div>


{% endblock %}